* {
    margin: 0px;
    padding: 0px;
}

/* Fuentes */
@font-face {
    font-family: "italiano-regular";
    src: url("../fuentes/Italianno-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../img/paven.png);
}

#cabecera {
    height: 250px;
}

#cabecera .perro img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0px auto;
    padding-top: 30px;
    border-radius:20px;
}

#cabecera h1 {
    text-align: center;
    color: rgb(76, 50, 172);
    padding-top: 25px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

/* Barra de navegacion */
#navegacion {
    background-color: rgb(27, 3, 3);
    width: 100%;
    height: 65px;
    box-shadow: 0px 0px 5px rgb(248, 6, 6);
}

#navegacion ul li {
    float: left;
    margin-left: 10%;
    list-style: none;
    line-height: 70px;
}

#navegacion ul li a {
    text-decoration: none;
    color: white;
    font-family: 'italiano-regular', Times, serif;
    font-size: 45px;
    border-right: 1px solid gray;
    padding-right: 15px;
}

.limpiarFlotados {
    float: none;
    clear: both;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
    padding-top: 20px;
}

#contenido {
    width: 100%;
    margin: 0px auto;
    min-height: 1000px;
}

/* Barra Lateral */
#barraLateral {
    float: left;
    margin-top: 30px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 3px #ccc;
    margin-left: 35px;
    width: 25%;
}

#barraLateral .login {
    display: block;
    padding-bottom: 30px;
    border-bottom: 2px dashed gray;
}

#barraLateral label,
#barraLateral input[type="text"],
#barraLateral input[type="password"] {
    display: block;
    margin: 0px auto;
    text-align: center;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 16px;
}

#barraLateral input[type="submit"] {
    display: block;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 15px;
    background-color: rgb(48, 190, 48);
    color: aliceblue;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.colorLetra {
    color: rgb(76, 50, 172);
}

/* Secciones */
#secciones {
    float: right;
    margin-top: 26px;
    width: 70%;
}

#secciones .descripcion {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    margin-right: 40px;
    margin-left: 5px;
    box-shadow: 0px 0px 2px #bbb8b8;
    padding: 15px;
}

.subtitulo {
    text-align: center;
    color: rgb(76, 50, 172);
    margin-bottom: 10px;
}

.imagenCard {
    width: 100%;
    height: 150px;
}

footer {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 30px;
    padding-bottom: 10px;
    background-color: rgb(27, 3, 3);
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 5px rgb(248, 6, 6);
}

/* Responsive */
